body{
	padding: 0;
	margin: 0;
	font-family: 'Indie Flower', cursive;
	font-size: 18px;

}

a{
	text-decoration: none;
	color: white;
}
ul{
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}


 /* =============  header ========== */

.header .top{
	border: 1px solid #333333;
	height: 30px;
	background-color: #333333;
}

.header .center{
	border: 1px solid #86B827;
	height: 3px;
	background-color: #86B827;
}

.header .bottom{
	border: 1px solid #cccccc;
	height: 30px;
	background-color: #cccccc;

}

.header .bottom .site{
	color: white;
	float: left;
	margin-left: 10%;
	font-size: 19px;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	margin-top: 2px;
}

.site a:hover{
	color: #333333;
	transition: 1s all ease;
	font-size: 20px;
}

.site a{
	transition: 1s all ease;
}

/* ======== MENU ========== */

.menu{
	color: white;
	float: right;
	margin-right: 6%;
	font-size: 19px;
	
}
.menu ul li{
	float: left;
	width: 150px;
	text-align: center;
	border-right: 1px solid white;
	line-height: 30px;
}

.menu a:hover{
	display: block;
	background-color: white;
	color: black;
	display: block;
	transition: all 0.4s;
}

.menu a{
	transition: all 0.4s;
	display: block;
	width: 100%;
}

.menu li:last-child{
	border-right: 0px solid white !important;
}

/* ======== DROP-DOWN MENU ========== */


.menu ul li ul{
	position: absolute;
	z-index: 3;
}

.menu ul ul li{
	text-align: left;
	display: none;
	width: auto;
	float: none;
	border: none;
}

.menu ul ul li a{
	width: 200px;
	display: block;
	padding: 4px;
	padding-left: 14px;
	font-size: 14px;
	background-color: #cccccc;
}

.menu li:hover ul li{
	display: block;
}


 /* =============  baner picture ========== */

/*.main{
	height: 500px;
	background-image: url("../images/mainPicture.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}*/

 /* =============  sing up box ========== */

.main{
	position: absolute;
	margin-left: 70%;
	margin-top: 7%;
	z-index: 2;

}

.login{
	height: 350px;
	width: 250px;
	background-color: white;
	color: black;
	/*float: right;*/
	margin-right: 10%;
	margin-top: 5%;
}

.sign_up{
	height: 40px;
	border: 0px solid black;
	width: 125px;
	float: left;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.login_text{
	height: 40px;
	border: 0px solid black;
	width: 125px;
	float: right;
	text-align: center;
	padding-top: 15px;
	background-color: #acacac;
	font-size: 20px;
}

.login_text:hover{
	background-color: #86B827;
	cursor: pointer;
}

.form{
	text-align: center;
	padding: 5px;
}

.main .form .title{
	border: 0px solid black;
	clear: both;
	padding: 20px 0;
	font-size: 25px;
	color: #86B827;
	
}



input[type="text"]{
	height: 30px;
	padding: 3px;
	margin-bottom: 10px;
	width: 216px;
	margin-left: 10px;
}

.login_button{
	color: white;
	/*background-color: #86B827; */
	border: 1px solid grey;
	width: 216px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	border-radius: 0px;
	/*box-shadow: 10px 10px 5px #888888;*/
	
	/*gradient */
	background: #86b827; /* Old browsers */
	background: -moz-linear-gradient(top,  #86b827 0%, #457018 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86b827), color-stop(100%,#457018)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #86b827 0%,#457018 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #86b827 0%,#457018 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #86b827 0%,#457018 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #86b827 0%,#457018 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b827', endColorstr='#457018',GradientType=0 ); /* IE6-9 */
	/* end gradient */

}

.login_button:hover{
	cursor: pointer;
	border-radius: 0px;
	
	background: #457018; /* Old browsers */
	background: -moz-linear-gradient(top,  #457018 0%, #86b827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#457018), color-stop(100%,#86b827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #457018 0%,#86b827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #457018 0%,#86b827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #457018 0%,#86b827 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #457018 0%,#86b827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457018', endColorstr='#86b827',GradientType=0 ); /* IE6-9 */

}

.main input[type="checkbox"] {
	margin-left: 10px;
}

.main label {
	font-size: 14px;
	text-align: left;
}
.box{
	margin: 0 10%;
}



/* ===== first block ===== */

.first-block{
	height: 325px;
	padding: 40px 0;
	border-bottom: 1px solid black;
	/*max-width: 1100px;*/
}
.description{
	text-align: justify;
	margin-top: 30px;
	width: 40%;
	float: left;
	border: 0px solid black;
}

.laptop{

	border: 0px solid black;
	float: right;
	margin-top: 30px;
	position: relative;
	left: 0;

	/*background-image: url("images/laptop.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/

}

.laptop img{
	width: 100%;
	height: auto;
	position: relative;
	/*width: auto;*/
}
.youtube-video{
	clear: both;
	margin-top: -230px;
	margin-left: 49px;
	position: absolute;
	
}
iframe{
	width : 304px;
	height: 195px;
}


/* ===== second block ===== */

/*.laptop > img{
	float: right;
}*/


.second-block{
	height: 300px;
	padding: 40px 0;
	/*max-width: 50%;
	float: center;*/
}

.graduate{
	/*width: 50%;*/
	height: 250px;
	border: 0px solid black;
	float: left;
	/*background-image: url("images/graduate.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
}

.graduate img{
	width: 100%;
	height: auto;

}

.description2{
	text-align: justify;
	padding-top: 0px;
	width: 40%;
	float: right;
	border: 0px solid black;

}

/* ===== footer DIV ===== */

footer{
	height: 320px;
	background-color: #333333;
	color: white;
}

.footer-container p{
	width: 85%;


}
.footer-container a{
	color: #86B827;

}

.footer-block{
	margin-top: 10px;
	float: left;
	width: 25%;
	border: 0px solid black;
	height: 100px;
}
.footer-container ul{
	text-align: left;
}

.contactUs{
	margin-top: 10px;
	color: white;
	/*background-color: #86B827; */
	border: 1px solid grey;
	/*width: 216px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 10px;*/
	border-radius: 0px;
	/*box-shadow: 10px 10px 5px #888888;*/
	
	/*gradient */
	background: #86b827; /* Old browsers */
	background: -moz-linear-gradient(top,  #86b827 0%, #457018 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86b827), color-stop(100%,#457018)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #86b827 0%,#457018 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #86b827 0%,#457018 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #86b827 0%,#457018 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #86b827 0%,#457018 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86b827', endColorstr='#457018',GradientType=0 ); /* IE6-9 */
}

.contactUs:hover{
	cursor: pointer;
	border-radius: 0px;
	
	background: #457018; /* Old browsers */
	background: -moz-linear-gradient(top,  #457018 0%, #86b827 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#457018), color-stop(100%,#86b827)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #457018 0%,#86b827 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #457018 0%,#86b827 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #457018 0%,#86b827 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #457018 0%,#86b827 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457018', endColorstr='#86b827',GradientType=0 ); /* IE6-9 */
}

.social li{
	float: left;
	margin-right: 20px;
}

/* ======= PRIVACY =========== */

.privacy{
	height: 50px;
	background-color: #cccccc;
}
.copy2015{
	color: white;
	float: left;
	margin-top: 15px;
}
.tc{
	color: white;
	float:right;
	position: relative;
	top: 15px;
}

.tc ul{
	list-style: none;
}

.tc a{
	float: left;
	border-right: 1px solid white;
	padding-right: 10px;
	padding-left: 10px;
}

.footer_menu li a:hover{
	color: #cccccc;
}

.tc a:last-child{
	border-right: 0px solid white !important;
}
.tc a:hover{
	background-color: white;
	color: black;
}

/* ====== MEDIA QUERIES ====== */

@media (max-width: 450px){
	.login {
		margin-top: 5%; 
	}
}

@media (max-width: 600px) {
	
	p{
		min-width: 400px;
		font-size: 17px !important; 
	}
	
	.main{
	position: absolute;
	margin-left: 20%;
	margin-top: 5%;
	z-index: 2;
	}

	.login {
		height: 350px;
		width: 250px;
		background-color: white;
		color: black;
		
	}
	
	.description {
		width: 100%;
		clear: both;
		margin: 40px 0;
	}
	
	.first-block{
		height: 550px;
		padding: 1px 0 !important;
		border-bottom: 1px solid black;
	}

	.laptop{
		float: none;
		/*margin-left: 10%;*/

	}
	
	.laptop img{
		width: auto;
		height: 200px;
		/*height: 200px;
		margin-top: 20px;
		margin-right: 25px;*/
		/*margin-left: 10%;*/
	}

	.youtube-video{
	clear: both;
	margin-top: -189px;
	margin-left: 41px;
	position: absolute;
	
	}

	iframe{
	width : 252px;
	height: 165px;
	}

	.graduate img{
		width: auto;
		height: 200px;
		margin-top: 10px;

		/*margin-left: 15%;*/
	}
	
	.description2{
		width: 100%;
		clear: both;
		
	}
	
	.second-block{
		height: 500px;
	}

	.footer-block p{
		display: none;
	}
	.footer-block ul{
		display: none;
	}
	.footer-block h2{
		margin-top: 30px;
	}

	footer {
		height: 100px;
		min-width: 400px;
		font-size: 12px;
		text-align: center;
		margin-top: 20px;
	}

	.privacy{
		height: 80px;
		min-width: 400px;
	}
	
	.tc{
		display: none;
		
	}
	
	.copy2015{
		margin-left: 10%;
		margin-top: 20px;
	}
}

@media (min-width: 601px) and (max-width: 850px){

	p{
		min-width: 400px;
		font-size: 17px !important; 
	}
	
	.main{
	position: absolute;
	margin-left: 35%;
	margin-top: 5%;
	z-index: 2;
	}

	.login {
		height: 350px;
		width: 250px;
		background-color: white;
		color: black;
		/*margin-right: 35%;*/	
	}

	.first-block{
		height: 500px;
		/*padding: 0;*/
		border-bottom: 1px solid black;
	}
	
	.description {
		width: 100%;
		clear: both;
	}

	.laptop{
		float: none;
		margin-left: 15%;
		/*margin-left: 15%;*/
	}
	
	.laptop img{
		width: auto;
		/*height: 200px;*/
		margin-top: 20px;
		
	}

	.second-block{
		height: 450px;
	}

	.graduate img{
		width: auto;
		margin-top: 10px;
		margin-left: 20%;
	}
	
	.description2{
		width: 100%;
		clear: both;
		padding-top: 40px;
		
	}

	footer {
		height: 100px;
		min-width: 530px;
		font-size: 12px;
		text-align: center;
	}	

	.footer-block p, .footer-block ul, .tc{
		display: none;
	}
	
	.footer-block h2{
		margin-top: 30px;
	}

	.privacy{
		height: 80px;
		min-width: 530px;
	}
	
	.copy2015{
		margin-left: 30%;
		margin-top: 20px;
	}
	
}

@media (min-width: 851px) and (max-width: 1000px){

	.footer-block  p, .footer-block  li{
		font-size: 15px;
	}
}

@media (max-width: 431px){
	.content{
		min-width: 434px;
	}
}