.prime-box{
		float: left;
		display: inline-block;
		height: auto;
		height: 500px;
		width: 400px;
		background-color: lightyellow;
	
	}
	.contenido{
		text-align: center;
		padding-top: 200px;
	}
	.contenido-top{
		text-align: center;
		padding-top: 20px;
		transition: 1s all ease;
	}
	.etr{
		margin-left: 15px;
		padding: 10px;
		font-size: 18px;
	}
	.boton{
		background-color: green;
		padding: 10px;
		font-size: 18px;
		border-radius: 10px;
		margin-left: 10px;
	}
	.resultado{
		display: none;
		height: 300px;
		overflow: scroll;
		width: 348px;
		margin: 0 auto;
		padding: 20px 10px;
		/*background-color: green;*/
	}

	/*========Second box ===========*/

	.second-box{
		float: left;
		height: 500px;
		width: 400px;
		background-color: pink;
		
	}

	/*========Third box ===========*/

	.third-box{
	float: left;
	height: 500px;
	width: 400px;
	background-color: lightblue;

	}

	/*========fourth box ===========*/

	.fourth-box{
	float: left;
	height: 500px;
	width: 400px;
	background-color: lightgrey;

	}

/*========fifth box ===========*/

	.fifth-box{
	float: left;
	height: 500px;
	width: 400px;
	background-color: brown;

	}
