body{
	padding: 0;
	margin: 0;
}

 /* =============  header ========== */

.header .top{
	border: 1px solid #333333;
	height: 30px;
	background-color: #333333;
}

.header .center{
	border: 1px solid #99cc33;
	height: 3px;
	background-color: #99cc33;
}

.header .bottom{
	border: 1px solid #cccccc;
	height: 30px;
	background-color: #cccccc;
}

.header .bottom .site{
	color: white;
	float: left;
	margin-left: 10%;
	font-size: 19px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 2px;
}

.header .bottom .menu{
	color: white;
	float: right;
	margin-right: 10%;
	font-size: 19px;
	margin-top: 2px;
}

 /* =============  baner picture ========== */

.main{
	height: 500px;
	background-image: url("images/mainPicture.jpg");
	background-repeat: no-repeat;
	/*background-position: 0px -100px;*/
	background-size: cover;
}


 /* =============  sing up box ========== */

.login{
	height: 325px;
	width: 250px;
	background-color: white;
	color: black;
	float: right;
	margin-right: 10%;
	margin-top: 8%;
}

.sign_up{
	height: 40px;
	border: 0px solid black;
	width: 125px;
	float: left;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.login_text{
	height: 40px;
	border: 0px solid black;
	width: 125px;
	float: right;
	text-align: center;
	padding-top: 15px;
	background-color: #acacac;
	font-size: 20px;
}

.form{
	text-align: center;
	padding: 5px;
}

.main .form .title{
	border: 0px solid black;
	clear: both;
	padding: 20px 0;
	font-size: 25px;
	color: #99cc33;
	
}

input[type="text"]{
	height: 30px;
	padding: 3px;
	margin-bottom: 10px;
	width: 216px;
}

.login_button{
	color: black;
	background-color: #99cc33;
	border: 1px solid grey;
	width: 216px;
	padding: 10px;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	margin-left: 10px;
	float: left;

}
	input[type="checkbox"] + label {
		font-size: 12px;
		text-align: left;
		
		}
.box{
	margin: 0 10%;
}

/* ===== first block ===== */

.first-block{
	height: 300px;
	padding: 40px 0;
	border-bottom: 1px solid black;
}
	.description{
		text-align: justify;
		padding-top: 40px;
		width: 40%;
		float: left;
		border: 0px solid black;

	}

	.laptop{
		width: 50%;
		height: 250px;
		border: 0px solid black;
		float: right;
		background-image: url("images/laptop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
/* ===== second block ===== */

.second-block{
	height: 300px;
	padding: 40px 0;
}

	.graduate{
		width: 50%;
		height: 250px;
		border: 0px solid black;
		float: left;
		background-image: url("images/graduate.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}

	.description2{
		text-align: justify;
		padding-top: 40px;
		width: 40%;
		float: right;
		border: 0px solid black;

	}

/* ===== footer ===== */

footer{
	height: 270px;
	padding-top: 20px;
	background-color: #333333;

}
	.faq{
		float: left;
		width: 25%;
	}
	.main-menu{
		float: left;
		width: 25%;
	}
	.contact-us{
		float: left;
		width: 25%;
	}
	.conect{
		float: left;
		width: 25%;
	}
	.privacy{
		height: 50px;
		background-color: #959595;
	}
